In [1]:
import numpy as np
import pandas as pd

### Creating series from a Python dictionary

In [2]:
temps = {'Mon': 60, 'Tue': 65, 'Wed': 30, 'Thur': 70}

In [3]:
s_temps = pd.Series(temps)
s_temps

Mon     60
Tue     65
Wed     30
Thur    70
dtype: int64

In [4]:
weather = {'Mon': 'Rain', 'Tue': 'Rain', 'Wed': 'Snow', 'Thur': 'Sunny'}
s_weather = pd.Series(weather)
s_weather

Mon      Rain
Tue      Rain
Wed      Snow
Thur    Sunny
dtype: object

### data frame

In [5]:
df_days = pd.DataFrame({'temps': s_temps, 'weather': s_weather})

In [6]:
df_days

      temps weather
Mon      60    Rain
Tue      65    Rain
Wed      30    Snow
Thur     70   Sunny

In [7]:
# rainy days
df_days[df_days['weather']=='Rain']

     temps weather
Mon     60    Rain
Tue     65    Rain

In [10]:
# days with warm weather
df_days[df_days['temps'] >= 60]

      temps weather
Mon      60    Rain
Tue      65    Rain
Thur     70   Sunny

In [11]:
df_days.loc['Mon']

temps        60
weather    Rain
Name: Mon, dtype: object

In [12]:
df_days.describe()

           temps
count   4.000000
mean   56.250000
std    17.969882
min    30.000000
25%    52.500000
50%    62.500000
75%    66.250000
max    70.000000