In [ ]:
import pandas as pd
import numpy as np

# read data from relative directory
data = pd.read_csv('data/president_heights.csv', index_col='order')

In [7]:
# Pandas dataframe
data.head()

                    name  height(cm)
order
1      George Washington         189
2             John Adams         170
3       Thomas Jefferson         189
4          James Madison         163
5           James Monroe         183

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
type(data['name'])

pandas.core.series.Series